@tailwind base;
@tailwind components;
@tailwind utilities;

.meshbg {
	background-color: #181818;
	background-image: url("/mesh-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
